annotated-types==0.6.0
asgiref==3.7.2
cffi==1.16.0
contextlib2==21.6.0
cryptography==42.0.5
Django==5.0.3
django-cors-headers==4.3.1
djangorestframework==3.14.0
injector==0.21.0
pillow==10.2.0
pycparser==2.21
pydantic==2.6.3
pydantic_core==2.16.3
PyJWT==2.8.0
python-magic-bin==0.4.14
pytz==2024.1
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2024.1
